# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env files
*.env

# typescript
*.tsbuildinfo

# android prebuild folders
.idea/*
android/*

# ios prebuild folders
ios/

# SHA keystores
*.keystore*

# Ignore any vscode overrides
.vscode/

# Ignore .idea
*.idea*

# Ignore aab/apk's in android build folder
*.apk*
*.aab*

#Ignore iOS ipas
*.ipa*
*.app*
*.tar.gz*